<template>
  <div id="app">
    <router-view />
    <div id="leftBox">
      <h1>Lorem ipsum<br /><span>dolor sit amet</span></h1>
      <p>
        Sed ut perspiciatis unde omnis <b> iste</b>
        <i>
          ipsa quae ab illo inventore veritatis et quasi architecto &laquo;
          beatae vitae &raquo; dicta sunt explicabo.</i
        >
      </p>
    </div>
    <Card1 />
    <Card2 />
    <Card3 />
    <Card4 />
    <Card5 />
  </div>
</template>

<script>
import Card1 from "../components/Card1.vue";
import Card2 from "../components/Card2.vue";
import Card3 from "../components/Card3.vue";
import Card4 from "../components/Card4.vue";
import Card5 from "../components/Card5.vue";

export default {
  name: "App",
  components: {
    Card1,
    Card2,
    Card3,
    Card4,
    Card5,
  },
};
</script>

<style lang="css" scoped>
@font-face {
  font-family: "Financier";
  src: url(../fonts/test-financier-text-bold.woff2) format("truetype");
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Manrope-Bold";
  src: url(../fonts/Manrope-Bold.ttf) format("truetype");
}
#app {
  font-family: "Financier", Arial;
}
#leftBox {
  font-family: "Financier", Arial;
  width: 50%;
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
}
#leftBox > p {
  width: 50%;
  margin: auto;
  font-family: "Manrope", Arial;
  font-size: 0.75em;
  text-align: inherit;
}
#leftBox > p > b {
  font-family: "Manrope-Bold", Arial;
}
#leftBox > h1 {
  font-size: 3.1em;
  margin-left: 150px;
  margin-top: 100px;
  line-height: 0.9;
}
#leftBox > h1 > span {
  color: #f5274c;
}
</style>
