<template>
  <div id="conteneur">
    <div id="product_left">
      <img src="peniche.jpg" alt="Péniche Location" />
      <p>
        <b>Describe</b><br />
        Sed ut orem ipsum dolor sit amet consectetur adipisicing elit. Veniam
        deserunt quidem quam explicabo voluptas quibusdam autem iure doloremque
        eligendi repellendus. <br />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, quas !
        Dolor sit amet consectetur adipisicing elit. Ex, rem? Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Excepturi necessitatibus
        repudiandae reiciendis rerum impedit aut. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Doloribus, culpa. <br />Lorem ipsum dolor
        sit amet consectetur adipisicing elit. <br />Consequatur, dignissimos?
      </p>
    </div>

    <div id="product_right">
      <h1>Product 1</h1>
      <ul>
        <li>Lorem</li>
        <li>Ipsum</li>
        <li>Dolor sit amet</li>
      </ul>
      <a href="https://cow-boy.go.yo.fr/"><button>Buy now</button></a>
    </div>
    <span>203 €</span>
  </div>
</template>

<script>
export default {
  name: "App",
};
</script>

<style scoped>
#conteneur {
  display: flex;
}
#product_left {
  width: 50%;
}
#product_right,
p {
  margin-top: 2%;
}
#product_right,
img,
p {
  margin-left: 5%;
}
img,
span {
  margin-top: 5%;
}
img {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 3%;
}
p {
  flex-direction: column;
  font-family: "Manrope", Arial;
  font-size: 0.9em;
  text-align: left;
}
b,
h1 {
  font-family: "Financier", Arial;
  font-size: 1.5em;
}
b {
  font-weight: 200;
}
h1 {
  font-weight: 400;
}
ul li:after {
  content: " \00b7";
}
ul li:last-child:after {
  content: none;
}
li {
  list-style: none;
  display: inline-block;
}
span,
li {
  font-family: "Manrope-Bold", Arial;
}
span {
  color: #f5274c;
  margin-left: 2%;
}
button,
li {
  font-size: 0.85em;
}
button {
  cursor: pointer;
  background-color: #000;
  border-radius: 3em;
  width: 150%;
  color: #f0f0f0;
  font-family: "Manrope", Arial;
  padding: 0.4rem 1rem;
}
</style>