<template>
  <div>
    <div id="card2_conteneur">
      <div id="card2_left">
        <v-title>Lorem ipsum</v-title>
        <br />
        <p>
          Sed ut perspiciatis unde omnis iste natus error<br />sit voluptatem
          accusantium !
        </p>
        <ul>
          <li>
            <a
              href="https://www.loisirsencheres.com/category/nouveautes"
              class="btn btn_card wrapper-gutterout-mc wrapper-space-mc"
              >Product 4 ></a
            >
          </li>
        </ul>
      </div>
      <div id="card2_img"></div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="css" scoped>
#card2_conteneur {
  margin: -10% 0 0 40%;
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 600px;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.15);
}
#card2_left {
  width: 50%;
  padding: 2em 0 0 1em;
  font-size: 1.8em;
  font-weight: 500;
  text-align: left;
}
#card2_left > p {
  font-family: "Manrope", Arial;
  font-size: 0.4em;
}
#card2_img {
  width: 50%;
  background-image: url(https://img.loisirsencheres.fr/loisirs/image/upload/v1625751829/Tempo-lancement/Cadre-nouveaute-HP.webp);
  background-size: cover;
}
#card2_img > img {
  height: 100%;
}
.btn_card {
  cursor: pointer;
  border: #f5274c 1px solid;
  border-radius: 50px;
  color: white;
  background-color: #f5274c;
  font-family: "Manrope", Arial;
  font-size: 0.5em;
}
li {
  display: inline;
  margin-right: 0.3em;
}
ul {
  list-style: none;
  padding-left: 0rem;
}
</style>