<template>
  <div>
    <div id="card1_conteneur">
      <div id="card1_left">
        <v-title>Lorem ipsum</v-title>
        <br />
        <p>
          Sed ut perspiciatis unde omnis
          <span><b>iste natus</b></span> error<br />sit voluptatem accusantium
          doloremque.
        </p>
        <ul>
          <li>
            <router-link
              to="/product"
              class="btn btn_card1 wrapper-gutterout-mc wrapper-space-mc"
              >Product 1</router-link
            >
          </li>
          <li>
            <a
              href="/product"
              class="btn btn_card1 wrapper-gutterout-mc wrapper-space-mc"
              >Product 2</a
            >
          </li>
          <li>
            <a
              href="/product"
              class="btn btn_card1 wrapper-gutterout-mc wrapper-space-mc"
              >Product 3</a
            >
          </li>
        </ul>
        <router-view></router-view>
      </div>
      <div id="card1_img"></div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
#card1_conteneur {
  margin: -10% 0 15% 40%;
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 600px;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.15);
}
#card1_left {
  width: 50%;
  padding: 2em 0 0 1em;
  font-size: 1.8em;
  font-weight: 500;
  text-align: left;
}
#card1_left > p {
  font-family: "Manrope", Arial;
  font-size: 0.4em;
}
#card1_left > p > span {
  color: #f5274c;
}
#card1_img {
  width: 50%;
  background-image: url(https://img.loisirsencheres.fr/loisirs/image/upload/v1625751828/Tempo-lancement/Cadre-hotel-HP.webp);
  background-size: cover;
}
#card1_img > img {
  height: 100%;
}
.btn_card1 {
  cursor: pointer;
  border: black 1px solid;
  border-radius: 50px;
  font-family: "Manrope", Arial;
  font-size: 0.5em;
}
li {
  display: inline;
  margin-right: 0.3em;
}
ul {
  list-style: none;
  padding-left: 0rem;
}
</style>