<template>
  <div id="card3_conteneur">
    <h1 class="card3_title">Lorem ipsum</h1>
    <p class="card3_text">
      Sed ut perspiciatis unde omnis iste natus error sit ?
    </p>
    <div style="display: flex; margin-left: 40%">
      <div class="card" style="width: 11rem">
        <img
          class="card-img-top"
          src="https://img.loisirsencheres.fr/loisirs/image/upload/v1626354875/Tempo-lancement/Tempo-Cadre-HP-Web-cadeaux-gastronomie.webp"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5>Lorum Ipsum</h5>
          <a
            href="https://www.loisirsencheres.com/category/shopping?exclusive=sh-cuisine"
            class="btn btn_card3 wrapper-gutterout-mc"
            >Product 5</a
          >
        </div>
      </div>

      <div class="card" style="width: 11rem">
        <img
          class="card-img-top"
          src="https://img.loisirsencheres.fr/loisirs/image/upload/v1626355426/Tempo-lancement/Tempo-Cadre-HP-Web-cadeaux-sensation.webp"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5>Lorum Ipsum</h5>
          <a
            href="https://www.loisirsencheres.com/category/sport"
            class="btn btn_card3 wrapper-gutterout-mc"
            >Product 6</a
          >
        </div>
      </div>

      <div class="card" style="width: 11rem">
        <img
          class="card-img-top"
          src="https://img.loisirsencheres.fr/loisirs/image/upload/v1626355426/Tempo-lancement/Tempo-Cadre-HP-Web-cadeaux-culturel.webp"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5>Dolor sit amet <br />consectetur</h5>
          <a
            href="https://www.loisirsencheres.com/category/cadeau-culture"
            class="btn btn_card3 wrapper-gutterout-mc"
            >Product 7</a
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
#card3_conteneur {
  margin-top: 15%;
}
.card {
  margin-right: 4.5%;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.15);
}
.btn_card3 {
  cursor: pointer;
  border: #f5274c 1px solid;
  border-radius: 50px;
  color: white;
  background-color: #f5274c;
  font-family: "Manrope", Arial;
  font-size: 0.75em;
}
.card3_title {
  font-size: 2.1em;
  display: flex;
  justify-content: flex-end;
  margin-right: 13%;
  margin-top: -11%;
}
.card3_text {
  display: flex;
  justify-content: flex-end;
  margin: 0% 13% 1% 0%;
  font-family: "Manrope", Arial;
  font-size: 0.7em;
}
</style>